fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
bcrypt==4.0.1
python-multipart
aiofiles
jobspy
tls_client
ddgs
PyPDF2
python-docx
pandas
scikit-learn
beautifulsoup4
requests
curl_cffi
lxml
markdownify
